@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Irish Grover' serif;
}


body{
    background: #fcfcfc;
    color: aliceblue;
}

.Header{
    width: 100%;
    top: 0;
    left: 0;
    background-color: #D83425;
    padding: 50px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.Header h1{

    margin-left: 150px;
    display: flex;
    font-size: 76px;
    font-family: 'Irish Grover';
    margin-bottom: 50px;
}

.imagem{
    margin-top: -30px;
    width: 1100px;
    height: 190px;
    padding: 20px 20px;
    gap: 10px;
    margin-bottom: 30px;

    display: flex;
    justify-content: flex-end;

}

.hero-text h2{
    margin-top: -80px;
    margin-left: 30px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 30px;
    text-align: start;
    font-family: 'Irish Grover';
}


.hero-text button{
    padding: 17px;
    display: flex;
}

.HeaderPart2{
    background-color: #D96940;
    padding: 20px 157px;
}

.Botões button{
    padding: 15px 65px;
    margin: 17px;
    margin-top: 17px;
    background: #8b3718;
    font-size: 14px;
    border: none;
    color: white;
    border-radius: 6px;
    font-family: 14px;
    transition: 0.4;
    cursor: pointer;
}


.HeaderPart3{
    background-attachment: fixed;
    height: 100vh;
    background: url('./pizzaoi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

}
